[Unit]
Description=Motion
After=network.target

[Service]
User=pi
Type=forking
ExecStart=/usr/bin/motion -b
Restart=always
KillSignal=SIGTERM
KillMode=control-group

[Install]
WantedBy=multi-user.target
