[Unit]
Description=FruitNanny video service
After=network.target
Requires=nginx

[Service]
User=pi
Type=simple
ExecStart=/opt/fruitnanny/bin/video.sh
LimitNOFILE=65536
Restart=always
KillSignal=SIGTERM
KillMode=control-group

[Install]
WantedBy=multi-user.target

